.sign-out-container {
	float: right;
	.fa-align-justify {
		float: right;
		margin-right: 10px;
		font-size: 40px;
		color: #f7f7f7;
		cursor: pointer;
	}
	.fa-user {
		float: right;
		margin-right: 10px;
		font-size: 40px;
		color: #f7f7f7;
		cursor: pointer;
	}
}